.right_main_content_container {
    width: 30%;
    /* justify-content: flex-end; */
}

.right_main_content_song_container {
    height: 100%;
    width: 95%;
    margin: auto;
    border-radius: 10px;
    background-color: #121212;
    /* background-color: red; */
    flex-direction: column;
}

.right_main_content_song_container:hover .btn_song_link_container {
    right: 0;
}

.right_main_content_song_container:hover .btn_song_link_svg path {
    visibility: visible;
}