.navbar_container {
    background-color: #000;
    height: 4rem;
    width: 100vw;
}

.navbar_logo_container {
    /* background-color: red; */
    width: 88px;
    /* padding-right: 20px; */
}

.navbar_logo_link {
    overflow: unset;
}

.navbar_logo {
    color: #fefefe;
    cursor: pointer;
    transform: rotate(2deg);
    font-size: 2.1rem;
}

.navbar_elms_container {
    height: 100%;
    justify-content: flex-end;
}

.navbar_elms_container1 {
    width: 63%;
    /* background-color: red; */
}

.navbar_elms_container2 {
    width: calc(37% - 88px);
}

.home_icon_container {
    /* background-color: red; */
    height: 47px;
    border-radius: 50%;
    background-color: #1f1f1f;
    aspect-ratio: 1/1;
    font-size: 1.3rem;
}

.home_icon_container:hover {
    transform: scale(1.05);
    /* text-decoration: none; */
}

.home_icon_container svg {
    height: 25px;
    aspect-ratio: 1/1;
}

.home_icon_container path {
    fill: white;
}

.web_search_input_container {
    height: 47px;
    width: 50%;
    background-color: #1f1f1f;
    border-radius: 47px;
    margin: 10px;
    transition: 0.4s;
    border: 1px solid transparent;
}

.btn_web_search {
    height: 47px;
    aspect-ratio: 1/1;
    border-radius: 47px 0 0 47px;
    cursor: pointer;
}

.btn_web_search svg {
    height: 25px;
    aspect-ratio: 1/1;
}

.btn_web_search path {
    fill: #b3b3b3;
}

.web_search_input_container:hover {
    /* transform: scale(1.05); */
    background-color: #2a2a2a;
    border: 1px solid #3f3f3f;
}

.web_search_input_container:hover .search_path {
    /* text-decoration: none; */
    fill: white;
}

.btn_search_input_container {
    height: 100%;
    width: calc(100% - 94px);
    cursor: pointer;
}

.btn_search_input {
    cursor: pointer;
    height: 50%;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    letter-spacing: -1px;
    font-weight: 400;
    /* font-weight: 900; */
    /* background-color: red; */
    border-right: 1px solid #707070;
}

.btn_browse_search_container {
    height: 47px;
    width: 47px;
}

.btn_browse_search_container {
    height: 47px;
    width: 47px;
    /* background-color: white; */
    border-radius: 0 47px 47px 0;
}

.btn_browse_search_container svg {
    height: 25px;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.btn_browse_search_container path {
    fill: #b3b3b3;
}

.btn_browse_search_container svg:hover path {
    fill: #fff !important;
    transform: scale(1.02);
}

.btn_browse_search_container .setWhite {
    fill: #fff !important;
}

.btn_web_elm {
    margin: 0 5px;
}

.btn_web_elm1:hover, .btn_web_elm2:hover, .btn_web_elm4:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.btn_web_elm1, .btn_web_elm2 {
    cursor: pointer;
    background-color: white;
    font-weight: 600;
    height: 32px;
    width: 120px;
    border-radius: 32px;
    /* font-size: 0.9rem; */
    font-size: 0.8rem;
}

.btn_web_elm1 {
    width: 140px;
    color: #0b0000;
}

.btn_web_elm2 {
    color: white;
    background-color: #000;
}

.btn_web_elm2:hover {
    transform: scale(1.02);
    /* letter-spacing: 0.2px; */
}

.btn_install_now {
    height: 1rem;
    aspect-ratio: 1/1;
    margin: 0 5px;
}

.btn_install_now path {
    fill: white;
}

.btn_web_elm3, .btn_web_elm4 {
    height: 47px;
    width: 47px;
    border-radius: 50%;
}

.btn_web_elm3 svg {
    height: 17px;
    aspect-ratio: 1/1;
    cursor: pointer;
    overflow: unset;
}

.btn_web_elm3 path {
    fill: #b3b3b3;
}

.btn_notify:hover path {
    transform: scale(1.05);
    fill: white;
}

.btn_web_elm4 {
    background-color: #1f1e1f;
}

.btn_web_elm_profile_img {
    height: 70%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}