.left_content_navbar {
    height: 6.7rem;
    width: 100%;
    /* background-color: red; */
    flex-direction: column;
}

.navbar_child_container {
    width: 100%;
}

.navbar_upper_child_container {
    width: 100%;
    height: 58.2%;
    /* background-color: green; */
}

.toggle_library_btn_container {
    height: 55%;
    margin-right: 55px;
    cursor: pointer;
    /* transition: 0.3s; */
    /* background-color: red; */
}

.btn_toggle_left_navbar_container {
    height: 100%;
    aspect-ratio: 1/1;
}

.btn_toggle_left_navbar_svg {
    height: 70%;
    aspect-ratio: 1/1;
    /* background-color: red; */
}

.btn_toggle_left_navbar_path {
    fill: rgb(180, 180, 180);
    transition: 0.3s;
}

.toggle_library_btn_container:hover .btn_toggle_left_navbar_path {
    fill: #fff;
}

.left_navbar_head {
    font-weight: 600;
    margin: 0 7px;
    color: rgb(180, 180, 180);
    transition: 0.3s;
}

.toggle_library_btn_container:hover .left_navbar_head {
    color: #fff;
    cursor: pointer;
}

.btn_left_navbar_add_container {
    height: 50%;
    aspect-ratio: 1/1;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s;
}

.btn_left_navbar_add_container:hover {
    background-color: #2a2a2a;
}

.playlist_adder_open {
    background-color: #2a2a2a;
    transform: rotate(45deg);
}

.playlist_adder_open .btn_left_navbar_add_path {
    fill: #fff
}

.btn_left_navbar_add_svg {
    height: 50%;
    aspect-ratio: 1/1;
    /* transition: 0.3s; */
}

.btn_left_navbar_add_path {
    fill: rgb(180, 180, 180);
    transition: 0.3s;
}

.btn_left_navbar_add_svg:hover .btn_left_navbar_add_path {
    fill: #fff;
}

.btn_left_navbar_left_arrow_container {
    height: 50%;
    margin: 0 7px;
    /* background-color: red; */
    aspect-ratio: 1/1;
    cursor: pointer;
    border-radius: 50%;
}

.btn_left_navbar_left_arrow_container:hover {
    background-color: #2a2a2a;
}

.btn_left_navbar_left_arrow_svg {
    height: 50%;
    /* background-color: red; */
    aspect-ratio: 1/1;
}

.btn_left_navbar_left_arrow_path {
    fill: rgb(180, 180, 180);
    transition: 0.3s;
}

.btn_left_navbar_left_arrow_svg:hover .btn_left_navbar_left_arrow_path {
    fill: #fff;
}

.navbar_lower_child_container {
    /* background-color: red; */
    height: 41.8%;
}

.left_navbar_elm {
    background-color: #2a2a2a;
    border: none;
    cursor: pointer;
    height: 33px;
    padding: 0 12px;
    border-radius: 20px;
    font-weight: 500;
    transition: 0.3s;
}

.left_navbar_elm:hover {
    background-color: #3a3a3a;
}

.left_navbar_elm1 {
    margin-left: 13px;
}

.left_navbar_elm2 {
    margin-left: 10px;
}

.create_option_card {
    z-index: 200;
    position: absolute;
    height: 207px;
    width: 340px;
    background-color: #282828;
    top: 120px;
    left: 223px;
    border-radius: 7px;
    box-shadow: 0 0 7px #151515;
    flex-direction: column;
}

.create_option_btn {
    height: 62px;
    width: 97%;
    margin: 2px 0;
    border-radius: 5px;
    padding-left: 10px;
    cursor: default;
}

.create_option_btn:hover {
    background-color: #353535;
}

.create_option_btn_divider {
    height: 1px;
    width: 90%;
    background-color: #3f3f3f;
    margin: 1.5px 0;
}

.create_option_img_container {
    height: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #3e3e3e;
    box-shadow: 0 0 5px #313131;
}

.create_option_img_container svg {
    transition: 0.2s;
    height: 25px;
}

.create_option_img_container path {
    transition: 0.2s;
    fill: #fff;
}

.create_option_btn:hover .create_option_img_container svg {
    transform: rotate(5deg) scale(1.05);
}

.create_option_btn:hover .create_option_img_container path {
    fill: #1fcb51;
}

.create_option_btn:hover .logo_circle1 {
    fill: #a8ffc1;
}

.create_option_btn:hover .logo_circle2 {
    fill: #1cff5c;
}

.create_option_content_container {
    flex-direction: column;
}

.create_option_content_head {
    font-weight: 600;
    color: #fff;
    font-size: 0.9rem;
    margin-left: 10px;
}

.create_option_content_para {
    font-weight: 500;
    color: #b3b3b3;
    margin-left: 10px;
    font-size: 0.8rem;
}